<div class="container">
    <h2 class="c2">Registration</h2>
    <div class="jumbotron c3">


        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="group">
                <label for="user" class="label">First Name</label>
                <input type="text" formControlName="fname" class="form-control" ng-model="user.fname" autocomplete="off"
                    ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                <div *ngIf="submitted && f.fname.errors" class="c1">
                    <div *ngIf="f.fname.errors.required">First_name is required</div>
                    <div *ngIf="f.fname.errors.minlength">Minimum 4 character</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Last Name</label>
                <input type="text" formControlName="lname" class="form-control" ng-model="user.lname" autocomplete="off"
                    ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
                <div *ngIf="submitted && f.lname.errors" class="c1">
                    <div *ngIf="f.lname.errors.required">Last_name is required</div>
                    <div *ngIf="f.lname.errors.minlength">Minimum 4 character</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Email</label>
                <input type="text" formControlName="email" class="form-control" ng-model="user.email" autocomplete="off"
                    ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="c1">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.pattern">Enter vaild pattern</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Mobile</label>
                <input type="text" formControlName="mob" class="form-control" ng-model="user.mob" autocomplete="off"
                    ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.mob.errors }">
                <div *ngIf="submitted && f.mob.errors" class="c1">
                    <div *ngIf="f.mob.errors.required">First_name is required</div>
                    <div *ngIf="f.mob.errors.minlength">Minimum 10 digits</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Password</label>
                <input type="text" formControlName="password" class="form-control" ng-model="user.password"
                    autocomplete="off" ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="c1">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.pattern">Enter alpha Nummeric password</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Confirm Password</label>
                <input type="text" formControlName="cpassword" class="form-control" ng-model="user.cpassword"
                    autocomplete="off" ng-required="true">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>