<div class="container">
    <h2 class="c2">Registration</h2>
    <div class="jumbotron c3">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="group">
                <label for="user"  class="label">First Name</label>
                <input type="text" formControlName="fname" class="form-control" ng-model="user.fname" autocomplete="off"
                    ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                <div *ngIf="submitted && f.fname.errors" class="c1">
                    <div *ngIf="f.fname.errors.required">First Name is required</div>
                    <div *ngIf="!f.fname.errors.pattern && f.fname.errors.minlength">Minimum 4 character</div>
                    <div *ngIf="f.fname.errors.pattern">First Name is invaild</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Last Name</label>
                <input type="text" formControlName="lname" class="form-control" ng-model="user.lname" autocomplete="off"
                    ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
                <div *ngIf="submitted && f.lname.errors" class="c1">
                    <div *ngIf="f.lname.errors.required">Last Name is required</div>
                    <div *ngIf="!f.lname.errors.pattern && f.lname.errors.minlength">Minimum 4 character</div>
                    <div *ngIf="f.lname.errors.pattern">Last Name is invaild</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Email</label>
                <input type="text" formControlName="email" class="form-control" ng-model="user.email" autocomplete="off"
                    ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="c1">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.pattern">Enter vaild Email</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Mobile</label>
                <input type="text" formControlName="mob" class="form-control" ng-model="user.mob" autocomplete="off"
                    ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.mob.errors }">
                <div *ngIf="submitted && f.mob.errors" class="c1">
                    <div *ngIf="f.mob.errors.required">Mobile Number is required</div>
                    <div *ngIf="f.mob.errors.pattern">Please use digits only</div>
                    <div *ngIf="!f.mob.errors.pattern && f.mob.errors.minlength">Please Enter mobile number of 10 digits. </div>
                    <div *ngIf="f.mob.errors.maxlength">Please Enter mobile number of 10 digits.</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Password</label>
                <input type="password" formControlName="password" id="p1" class="form-control" ng-model="user.password"
                    autocomplete="off" (blur)="checkPass('pass');" ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="c1">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.pattern">Enter alpha Nummeric password</div>
                </div>
            </div>
            <div class="group">
                <label for="user" class="label">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" id="p2" class="form-control" ng-model="user.confirmPassword"
                    autocomplete="off" ng-required="true" (blur)="checkPass('c_pass');">
                    
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <br><button class="btn btn-outline-success" type="button"><a routerLink="/login">Already signup? Just Login</a></button>
    </div>
</div>